<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Twitter Friends Finder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {

      $('form').on('submit', function(event) {

          $.ajax({
              data : {name : $('#nameInput').val()},
              type : 'POST',
              url : '/tweets',
              success: function(response) {
                $("#place_for_tweets").html(response);
              },
              error: function(xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText
                alert('Error - ' + errorMessage);
              }
          });
		  
		  event.preventDefault();
      });

    });
    </script>   
  </head>
  <body>
    <div class="container">

      <div class="row mb-5">
        <div class="col text-center">
          <h1 class="mb-3">
            Twitter Friends Finder
          </h1>
          <h4 class="mb-2">
            <small class="text-muted">
              Matching based on the sentiments on #reopen and the similarities of the 10 most recent tweets in their timeline 
            </small>
            <p class="card-text">
              The example I've used to fetch relevant data so far: #reopen is not smart 
            </p>
          </h4>
        </div>
      </div>
      <form style="text-align:center;">
        <div style="text-align:center;">
          <label class="sr-only" for="nameInput">Name</label>
          <input type="text" class="form-control" id="nameInput" placeholder="My sentiment" style="text-align:center;">
        </div>
		<br>
        <button type="submit" class="btn btn-default" style="text-align:center;">Match</button>
      </form>
      <br>
      <div id="place_for_tweets"></div>

      <div class="text-center mb-4">
        <a class="btn btn-primary" href="/" role="button">Refresh</a>
      </div>


    </div>
  </body>
</html>

