
{% for tweet in tweets %}
	<div class="row my-4">
	  <div class="col">
		<div class="card {{ 'positive' if tweet.data.diff_sentiment_score > 0 }} {{ 'negative' if tweet.data.diff_sentiment_score < 0 }}">
		  <div class="card-body">
			<p class="card-text">
			  {{ tweet.filtered_text()|safe }}
			</p>
			<p class="card-text">
			  Sentiment&nbsp;Score:&nbsp;{{ tweet.data.sentiment_score }}
			</p>
			<p class="card-text">
			  Cluster:&nbsp;{{ tweet.data.topic }}
			</p>
			<p class="card-text">
			  Key&nbsp;words&nbsp;for&nbsp;the&nbsp;10&nbsp;recent&nbsp;tweets:&nbsp;{{tweet.data.key_words}}
			</p>
			<br />
			<div class="card-text">
			  <img alt="{{ tweet.data.username }}" height="48" src="{{ tweet.data.profile_image_url }}" width="48" class="mr-3"/>
			  {{tweet.data.name}}(<a href="{{ tweet.user_link() }}" target="_blank">{{ tweet.data.username }}</a>)
			</div>
		  </div>
		</div>
	  </div>
	</div>
 {% endfor %}
